einops==0.7.0
gym==0.25.2
gym3==0.3.3
imageio==2.31.6
matplotlib==3.7.3
moviepy==1.0.3
numpy==1.24.4
optuna==3.4.0
pandas==2.0.3
Pillow==10.0.1
procgen==0.10.7
pysr==0.18.1
PyYAML==6.0.1
torch==2.1.0
torchinfo==1.8.0
torchvision==0.16.0
tqdm==4.66.1
typing_extensions==4.8.0
vector_quantize_pytorch==1.11.6
wandb==0.16.4
gymnasium==0.29.1
sympy~=1.12